.main {
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	background-color: #000000;
	min-height: 100%
}

.g-signin2
{
	float: right;
}

#banner {
	height: 75px;
	background-color: #B82601;
	padding-bottom: 10px;
	/*display: inline-block;*/
}

#banner img {
	height: 100%;
	line-height: 100%;
	width: 15%;
	float: left;
}

#banner h1 {
	font-family: Roboto;
	text-align: center;
	vertical-align: middle;
	line-height: 200%;
	color: #ffffff;
}

#main
{
	padding-top: 10px;
	padding-bottom: 10px;
}

#map {
	margin-left: auto;
	margin-right: auto;
	height: 600px;
	width: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

#infoWindow_content .title
{
	font-weight: bold;
}

#map_input
{
	padding-bottom: 12px;
	margin-right: 12px;
}

#start_input #destination_input
{
	background-color: #ffffff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-left: 12px;
    padding: 5px 11px 5px 13px;
    text-overflow: ellipsis;
    width: 400px;
}

#title
{
	color: #ffffff;
    background-color: #062f4f;
    font-size: 25px;
    font-weight: 500;
    padding: 6px 12px;
}

#bottom-box
{
	display: none;
	width: 100%;
}

#info
{
	background-color: #B82601;
	color: #ffffff;
	display: none;
	width: 50%;
	float: left;
	height: 350px;
}

#info p
{
	margin-left: 10%;
	font-size: 18px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #062f4f;
}

#user_tools
{
	background-color: #B82601;
	width: 50%;
	height: 350px;
	display: inline-block;
}

#saved_rides
{
	color: #ffffff;
}

#saved_rides ul
{
	margin-left: 10%;
	font-size: 20px;
	color: #062f4f;
	cursor: pointer;
	font-weight: bold;
}

li
{
	margin: 10px 0;
	letter-spacing: 2px;
}

li:hover
{
	color: #ffffff;
}

#footer
{
	background-color: #062f4f;
	color: white;
}

#footer a
{
	color: white;
}
